@media screen and (max-width: 721px) {
    .profile-photo {
        max-width: 80%;
    }

    #philosophy {
        flex-direction: column;
    }
}

@media screen and (min-width: 550px) and (max-width:1000px) {
    #gallery li {
        width: 45%;
    }

    #gallery li:nth-child(3) {
        clear: left;
    }
}

@media screen and (min-width: 721px) {
	/**************************
	   HEADER
    **************************/

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        text-align: right;
        width: 45%;
    }

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px
    }

    header {
        border-bottom: 5px solid #599a68;
        margin-bottom: 30px;
    }

    /**************************
	   PAGE: PHILOSOPHY
    **************************/

    .profile-photo {
        float: right;
        margin-right: 30px;
        max-width: 40%;
    }
}

@media screen and (min-width: 1000px) {
    #gallery li {
        width: 28.3333%;
    }

    #gallery li:nth-child(4) {
        clear: left;
    }
}
